<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 1. SQL方言與提供連結資料庫所需資訊(透過JDBC API來連結)之設定方式 -->	
 		<!-- SQL方言，這邊設定的是MySQL 8.x--> 
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property> 
        <!-- JDBC驅動程式 --> 
<!--         <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property> 
         <!-- JDBC URL & --> 
<!--         <property name="connection.url">jdbc:mysql://localhost:3306/pubuEx2?useSSL=false&amp;useUnicode=yes&amp;characterEncoding=utf8&amp;serverTimezone=Asia/Taipei</property>  -->
        <property name="connection.url">jdbc:mysql://localhost:3306/pubu_exercise?useSSL=false&amp;useUnicode=yes&amp;characterEncoding=utf8&amp;serverTimezone=Asia/Taipei</property> 
        <!-- 資料庫使用者、密碼 --> 
        <property name="connection.username">root</property> 
        <property name="connection.password">123456</property> 
<!--         <property name="connection.password">SuperHunter</property>  -->

		
		<!-- SQL方言，設定是MsSQL -->
<!-- 		<property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property> -->
<!-- 		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property> -->
<!-- 		<property name="connection.url">jdbc:sqlserver://127.0.0.1:1433;DatabaseName=jspdb</property> -->
<!-- 		<property name="connection.username">sa</property> -->
<!-- 		<property name="connection.password">passw0rd</property> -->


		<!-- 2. 其他與資料存取有關的設定 -->
		<!-- 自動產生資料庫的Schema -->
		<property name="hbm2ddl.auto">update</property>
<!-- 		<property name="hbm2ddl.auto">create</property> -->
		<!-- 顯示實際操作資料庫時的SQL -->
		<property name="show_sql">true</property>
		<!-- 將顯示的SQL排版，方便觀看 -->
		<property name="format_sql">true</property>
<!-- 		for getCurrentSession() -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- hibernate 相關效能設定 -->
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="connection_pool_size">5</property>

		<!-- 3. 宣告程式使用的永續類別 -->
		<!-- 使用 @nnotation 方式, 說明 Persistence Class 之 FQNC(類別全名, 含packageName) -->
<!-- 		pubu_exercise -->
<!-- 		<mapping class="tw.com.pubu.hunter.bean.CustomersBean"></mapping> -->
<!-- 		<mapping class="tw.com.pubu.hunter.bean.ProductsBean"></mapping> -->
<!-- 		<mapping class="tw.com.pubu.hunter.bean.ShoppingCartsBean"></mapping> -->
<!-- 		<mapping class="tw.com.pubu.hunter.bean.OrdersBean"></mapping> -->
<!-- 		<mapping class="tw.com.pubu.hunter.bean.OrderDetailsBean"></mapping> -->
		
		<mapping resource="tw/com/pubu/hunter/bean/CustomersBean.hbm.xml"></mapping>
		<mapping resource="tw/com/pubu/hunter/bean/ProductsBean.hbm.xml"></mapping>
		<mapping resource="tw/com/pubu/hunter/bean/ShoppingCartsBean.hbm.xml"></mapping>
		<mapping resource="tw/com/pubu/hunter/bean/OrdersBean.hbm.xml"></mapping>
		<mapping resource="tw/com/pubu/hunter/bean/OrderDetailsBean.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>